:plain
  $('#blog-notification').hide().html("<div class='alert alert-success'>Blog updated successfully.</div>").fadeIn(300);

  $('#blog-status').hide().html("<span class='label label-info'>#{@blog.status}</div>").fadeIn(300);
