- content_for :title, "Welcome"

.home-wrapper
  .row-fluid
    .col-xs-12
      .content
        %img{src: "#{asset_path 'ejay-logo-large.png'}", class: 'logo', width: '75'}
        .name Ejay Canaria
        .short-bio Curiosity Follower, Programmer

