- content_for :title, "Hi, I'm Ejay Canaria and this is my website."

.home-wrapper
  = image_tag 'ejay-circle-medium.png', width: '120', alt: 'Ejay Image'
  %h1 Ejay Canaria
  .under-construction Site Under Construction

