- content_for :title, 'Ejay Canaria - Welcome to My Website!'

.home-wrapper
  = image_tag 'ejay-circle-medium.png', width: '120'
  %h1 Ejay Canaria
  .under-construction Site Under Construction
  /.brief-description Curiosity Follower, Programmer

