- content_for :title, 'Ejay Canaria - Welcome to My Website!'

.home-wrapper
  .ejay-circle
    = image_tag 'ejay-circle-medium.png', width: '120'
  .my-name Ejay Canaria
  .my-short-bio Curiosity Follower, Programmer
