@import 'bootstrap';

* {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0 !important;
    padding: 0 !important;
}

.main-area {
    padding: 50px;
    margin-left: 220px;
}

.reset-container { padding: 0; margin: 0; width: 100%;}

p.notice, p.alert {
    border-radius: 0;
    padding: 20px;
    margin: 0 !important;
    text-align: center;
    font-size: 1.3em;
    margin: 0;
    width: 100%;
}

p.alert {
    color: #F7CA18;
}

p.notice {
    color: #16A085;
}

.new-model {
    font-size: 1.2em;
    color: #2C3E50;
}
