!!! 5

%html{lang: 'en'}
  %head
    %title= @title || "Welcome to My Website!"
    = stylesheet_link_tag :application

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no' }/

  %body
    .container-fluid
      = render 'layout_partials/application/header'
      .row.content-wrapper
        .col-xs-12
          = yield
